1. What are data structures, and why are they important ?
--> Data structures is a way of organising and storing data so that it can be accessed and manipulated efficiently.It provides a systematic way of organizing information, making it easier to process and use. Data structures are fundamental to computer science and are used in algorithms to solve various computational problems.


2. Explain the difference between mutable and immutable data types with examples ?
--> The main difference between mutable and immutable data types is that mutable data types can be changed after creation, while immutable data types cannot.
Mutable data types :
These data types can be modified after they are created. Examples of mutable data types include lists, dictionaries, and sets.
Immutable data types :
These data types cannot be changed or altered once they are set. Examples of immutable data types include strings, tuples, integers, and floats.


3. What are the main differences between lists and tuples in Python ?
--> The main differences between lists and tuples in Python are:
Mutability: Lists are mutable, meaning they can be changed, while tuples are immutable, meaning they cannot be changed.
Performance: Tuples are faster and more memory efficient than lists. This is because tuples are immutable, so Python can optimize memory allocation and access operations for them.
Syntax: Tuples use round brackets or parenthesis, while lists use square brackets.
Data types: Lists can hold elements of different data types.
Length: Once defined, tuples have a fixed length, while lists have a dynamic length.
Methods: Lists support a broader range of methods, such as appending, inserting, and removing elements. Tuples provide basic operations that allow you to retrieve information, like the length or index of a specific element.
Use cases: Lists are used for data that needs to be changed frequently, while tuples are used for data that doesn't need to be changed frequently.


4. Describe how dictionaries store data .
--> Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.


5. Why might you use a set instead of a list in Python ?
--> Use a set instead of a list when you need unique elements, fast membership checks, or to perform set operations like union and intersection, especially when order and indexing are not required.


6.  What is a string in Python, and how is it different from a list ?
-->A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).


7. How do tuples ensure data integrity in Python ?
--> Tuples ensure data integrity in Python primarily because they are immutable, meaning their elements cannot be changed, added, or removed after creation.

8. What is a hash table, and how does it relate to dictionaries in Python ?
--> A hash table is a data structure that maps keys to values using a hash function for fast access. Python's dictionary is implemented as a hash table, offering O(1) average time complexity for lookups, insertions, and deletions. Dictionaries store unique keys, resolve collisions internally, and maintain insertion order


9.  Can lists contain different data types in Python ?
--> Yes, lists in Python can contain elements of different data types. Python lists are flexible and can store any combination of data types, such as integers, strings, floats, objects, or even other lists.


10. Explain why strings are immutable in Python ?
--> Strings in Python are immutable, meaning their content cannot be changed after creation. It ensures data integrity, allows strings to be used as dictionary keys, and enables performance optimizations like interning, where identical strings share the same memory location. Immutability also simplifies debugging and enhances security by preventing unintended modifications.


11. What advantages do dictionaries offer over lists for certain tasks ?
--> Dictionarys have two parts to every entry the key and the value and these are stored as pairs. This can give you more flexibility when storing data. The primary advantage would be retrieving stored values as it is much simpler to search through a dictionary.


12. Describe a scenario where using a tuple would be preferable over a list
--> If a data is needed in a program which is not supposed to be changed, then it is better to put it in 'tuples' than in 'list'.


13. How do sets handle duplicate values in Python ?
--> Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used.


14. How does the “in” keyword work differently for lists and dictionaries ?
--> 1.For lists, in checks for the presence of a value.
    2. For dictionaries, in checks for the presence of a key.


15. Can you modify the elements of a tuple? Explain why or why not?
--> No, since tuples are immutable, meaning they cannot be changed once created. Tuples are immutable,as they are optimized for memory and performance.


16. What is a nested dictionary, and give an example of its use case ?
--> A nested dictionary is a dictionary where the values associated with keys are themselves dictionaries. This allows you to store complex data structures in a hierarchical manner.
Use Case Example:
A nested dictionary is useful for storing information about multiple students, where each student has various attributes like name, age, and grades.


17. Describe the time complexity of accessing elements in a dictionary.
--> Accessing elements in a dictionary has an average O(1) time complexity because dictionaries use hash tables for fast lookups. However, in rare cases with many hash collisions, it can degrade to O(n).


18. In what situations are lists preferred over dictionaries
--> Lists are preferred over dictionaries in the following situations:
Ordered Data:
When you need to maintain the order of elements, as lists preserve the insertion order (especially in Python 3.7+).
Index-based Access:
When you need to access elements by their index rather than a key. Lists allow for positional indexing (e.g., my_list[0]).
Sequential Data:
When the data is sequential and order matters, like storing items in a collection, tasks in a queue, or elements that need to be iterated in order.
Allowing Duplicates:
When duplicates are needed, as lists can contain repeated values, while dictionaries require unique keys.
Simple Data:
When you don't need key-value pairs and just need a collection of items, lists are simpler and more intuitive.


19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
--> Dictionaries were historically unordered because they used hash tables, but from Python 3.7 onwards, they preserve insertion order. However, the order does not affect the speed of data retrieval, which remains O(1).


20. Explain the difference between a list and a dictionary in terms of data retrieval.
--> In a list, data is accessed by index, and retrieving an element by value takes O(n) time. In a dictionary, data is accessed by key, offering O(1) average time complexity for lookups, making it faster for key-based retrieval.

In [ ]:
#1 Write a code to create a string with your name and print it

my_name= 'Vaishnavi'
print(my_name)

Vaishnavi

In [ ]:
#2 Write a code to find the length of the string "Hello World" .

string= "Hello World"
print(string)
length= len(string)
print(length)

Hello World
11

In [ ]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"

my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

In [ ]:
#4 Write a code to convert the string "hello" to uppercase

string= "hello"
uppercase =string.upper()
print(uppercase)

HELLO

In [ ]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

original_string = "I like apple"
modified_string = original_string.replace("apple", "orange")
print(original_string)
print(modified_string)

I like apple
I like orange

In [ ]:
#6  Write a code to create a list with numbers 1 to 5 and print it

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

my_list= [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [ ]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 10, 20, 30 and print it


my_tuple = (10, 20, 30)
print(my_tuple)
type(my_tuple)

(10, 20, 30)

tuple

In [ ]:
#12 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')


my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

In [ ]:
#13 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)


my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

In [1]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

In [2]:
#15 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

fruits = ('apple', 'orange', 'banana')
if 'banana' in fruits:
    print("'banana' is in the tuple.")
else:
    print("'banana' is not in the tuple.")

'banana' is in the tuple.

In [3]:
#16 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

my_set = {1, 2, 3, 4, 5}
print("The set is:", my_set)

The set is: {1, 2, 3, 4, 5}

In [4]:
#17 Write a code to add the element 6 to the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.add(6)
print("The updated set is:", my_set)

The updated set is: {1, 2, 3, 4, 6}

In [5]:
#18 Write a code to create a tuple with the elements 10, 20, 30 and print it

my_tuple = (10, 20, 30)
print("The tuple is:", my_tuple)

The tuple is: (10, 20, 30)

In [6]:
#19 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print("The first element is:", first_element)

The first element is: apple

In [7]:
#20 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

numbers = (1, 2, 3, 2, 4, 2)
count_of_2 = numbers.count(2)
print("The number 2 appears", count_of_2, "times in the tuple.")

The number 2 appears 3 times in the tuple.

In [8]:
#21 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

In [9]:
#22  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

fruits = ('apple', 'orange', 'banana')
if 'banana' in fruits:
    print("'banana' is in the tuple.")
else:
    print("'banana' is not in the tuple.")

'banana' is in the tuple.